# Alles negeren
/public/*

# Uitzonderingen (wél toevoegen aan Git)
!public/1/
!public/2/
!public/3/
!public/4/
!public/5/
!public/6/
!public/7/
!public/8/
!public/9/
!public/10/
!public/11/
!public/12/
!public/13/
!public/14/
!public/15/
!public/16/
!public/17/
!public/18/
!public/19/
!public/20/
!public/21/
!public/22/
!public/23/
!public/24/
!public/25/
!public/26/
!public/27/
!public/28/
!public/29/
!public/30/
!public/31/
!public/32/
!public/33/
!public/34/
!public/35/
!public/36/
!public/37/
!public/38/

# Specifieke losse bestanden
!public/roberto.png
!public/sitiweb.svg
